@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    text-align: center;
    color:white;
}


/*Static*/

.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.absolute{
     position: absolute;
}
.relative{
    position: relative;
}
.z-index{
    z-index: 99;
}


body{
    min-width: 600px;
    background-color: #1E1E1E;
}

.wrapper-container{
    width: 600px;
    height: 2248px;
    gap:40px
}

header{
    padding-top: 820px;
}
main{
    gap:30px;
}



/*Image*/

.transform{
   transition: all 0.5s ease-out;
}
.transform:hover{
    box-shadow: 0 15px 20px linear-gradient(180.2deg, #1F1032 36.86%, rgba(31, 16, 50, 0) 99.82%);;
    transform: translateY(-7px);
    
}
.firefly{
    bottom:350px;
    left:370px;
}
.firefly-bottom{
    right:420px;
    top:355px;
}


.features{
    width:min-content;
    gap:20px;
}
.first-column{
    margin-top:-4px;
    gap:7px
}

.info-block{
    gap:30px;
}


/*buttons*/
.button{
    width: 162px;
    height: 31px;
    background-color:#B0E31B;
    border:1px solid #383E4B;
    color:#383E4B;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    
}
.button:hover{
    box-shadow: 0 15px 20px #B0E31B;
    transform: translateY(-7px);
    transition: all 0.5s ease-out;
}
.one{
   bottom: 35px;
   right: 160px;
}
.two{
    right:35px;
    top:180px;
}
.three{
    right:35px;
    top:425px;
}
.four{
    right:33px;
    top:385px;
}
.five{
    right:33px;
    top:100px;
}
.six{
    left:33px;
    top:100px;
}

/*Footer*/
.footer-info{
    gap:20px;
}

.footer-info h3{
    gap:5px;
}
#none{
    text-decoration:none;
}